.navbarHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  .navbarHeadTitle {
    display: flex;
    align-items: center;
    gap: 10px;
    .navbarHeadTitleIcon {
      width: 25px;
      height: 25px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      svg {
        color: black;
      }
    }
    h3 {
      font-size: 15px;
    }
  }
  svg {
    font-size: 18px;
    color: grey;
    transition: 0.2s;
  }
  svg:hover {
    color: white;
  }
}
