.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 400px;
}

.logo {
  margin-bottom: 20px;
  img {
    width: 100px;
  }
}

.form {
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Gill sans", sans-serif;
  }

  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    font-family: "Gill sans", sans-serif;
  }

  small {
    display: block;
    margin-top: 5px;
    color: #666;
    font-size: 12px;
    font-family: "Gill sans", sans-serif;
  }

  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: "Gill sans", sans-serif;

    &:focus {
      border-color: #000;
      outline: none;
    }
  }
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  input {
    margin-right: 10px;
  }

  a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-family: "Gill sans", sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: #333;
  }
}

.signInLink {
  margin-top: 10px;
  text-align: center;
  a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-family: "Gill sans", sans-serif;

    &:hover {
      text-decoration: underline;
    }
  }
}
