#Header {
  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: #2484da;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}
